# Ignore node_modules folders
node_modules/

# Ignore environment files
.env

# Ignore logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build directories (if any)
dist/
build/

# Ignore temporary or editor-specific files
*.swp
*.bak
*.tmp
.vscode/
.idea/
